<div id="page" class="row">
          <div class="span6">
            <h1>{{ page.title }}</h1>
              {{ page.content }}
              <a href="https://eriebonebroth.refersion.com/" class="btn btn-orange" target="_blank" style="margin-bottom: 40px;">Sign Up Now</a>
          </div>
          <div class="span6">
            <div style="padding: 10px; background: #eaeaea;">
            <h2>Already a Member?</h2>
            <p>Follow the link below to login</p>
            <a href="https://eriebonebroth.refersion.com/affiliate/login" class="btn orange" target="_blank">Affiliate Login</a>
          </div>
        </div>