<div id="subscriptions">
  <div class="row">
    <div class="span12">
      <h1 class="p10">Subscriptions</h1>
      <p class="intro">Get your healing bone broth delivered right to your front door every month. Sign up for a 3 Month, 6 Month, or 12 Month subscription. 
  Remember, bone broth is most effective when you make it a regular part of your life.</p>
    </div>
  </div> <!-- /.row -->

  <div class="step one">
    <div class="span12">
      <h2>Step 1: <span>How many months do you want Bone Broth Delivered?</span></h2>
      <p class="deck"><span class="text-alert">*</span> Prepay for subscriptions to get big savings</p>
    </div>
    <div class="span4">
      <a href="#" class="option" id="3-month">
        <h3>3 Months</h3>
        <p>Save 10%</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="6-month">
        <h3>6 Months</h3>
        <p>Save 15%</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="12-month">
        <div class="ribbon-wrapper"><div class="ribbon">Best Deal</div></div>
        <h3>12 Months</h3>
        <p>Save 20%</p>
      </a>
    </div>
  </div>
  <!-- /.step -->
  <div class="step two">
    <div class="span12">
      <h2>Step 2: <span>How many pouches do you want delivered each month? </span></h2>
      <p class="deck">What is recommended for the best health benefits? <a data-toggle="tooltip" data-placement="auto" title="The amount you drink depends on the reason you are drinking it. If you are using the broth to maintain your overall health and wellness it is recommended to drink 6-8 oz. per day. If you are looking to heal your gut, fight inflammation, relieve symptoms of an autoimmune disorder or heal another chronic issue you can drink up to 24 oz. per day."<span class="text-alert fa fa-question-circle"></span></a></p>
    </div>
    <div class="span4">
      <a class="option" href="#" id="4-pouches">
        <h3>4 Pouches</h3>
        <p>Delivered Each Month</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="6-pouches">
        <h3>6 Pouches</h3>
        <p>Delivered Each Month</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="8-pouches">
        <h3>8 Pouches</h3>
        <p>Delivered Each Month</p>
        <p class="note">One 6oz glass per day</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="10-pouches">
        <h3>10 Pouches</h3>
        <p>Delivered Each Month</p>
        <p class="note">One 8oz glass per day</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="12-pouches">
        <h3>12 Pouches</h3>
        <p>Delivered Each Month</p>
      </a>
    </div>
    <div class="span4">
      <a href="#" class="option" id="20-pouches">
        <h3>20 Pouches</h3>
        <p>Delivered Each Month</p>
        <p class="note">Two 8oz glass per day</p>
      </a>
    </div>
    <div class="span12">
      <p class="mt10"><a href="/pages/contact">Contact Us</a> if you would like a different number of pouches sent each month by sending an email to {% include 'email-link' %}.</p>
    </div>
  </div>
  <!-- /.step -->
  <div class="step">
    <div class="span12">
      <h2>Step 3: <span>Select your flavors</span></h2>
      <a href="#" class="btn" id="flavors-button">Choose My Flavors Now</a>
    </div>
  </div>
  <!-- /.step -->
</div>