<div id="subscriptions" class="row">
  <div class="span12">
    <h1 class="p10">Subscriptions</h1>
    <p clas="intro">Get your healing bone broth delivered right to your front door every month. Sign up for a 3 Month, 6 Month, or 12 Month subscription. 
Remember, bone broth is most effective when you make it a regular part of your life.</p>

    <div class="step">
      <h2>Step 1: <span>How many months do you want Bone Broth Delivered?</span></h2>
      <p class="note"><span class="text-alert">*</span> Each subscription is billed every three months</p>
      <div class="span4">
        <a href="#" id="3">
          <h3>3 Months</h3>
          <p>Save 10%</p>
        </a>
      </div>
      <div class="span4">
        <a href="#" id="6">
          <h3>6 Months</h3>
          <p>Save 15%</p>
        </a>
      </div>
      <div class="span4">
        <a href="#" id="6">
          <div class="ribbon-wrapper"><div class="ribbon">Best Deal</div></div>
          <h3>12 Months</h3>
          <p>Save 20%</p>
        </a>
      </div>
    </div>
  </div> <!-- /.span12 -->
</div> <!-- /.row -->